head,body{
    margin: 0px;
    padding: 0px;
}
/* HomePage */
.video-homepage{
     position: absolute;
     bottom: 0%;
     right: 0%;
}
.img-miniLogo{
    position: absolute;
    height: 10%;
    width: 5%;
    left: 12%;  
}
.img-title{
    position: absolute;
    height: 33%;
    width: 23%;
    left: 39%;
    top: 25%;
}

.Home{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 23%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Roofs{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 33%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
   
}
.Line-up{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 43%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Location{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 53%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Tickets{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 63%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Webshop{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 73%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Roofs-2{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 43%;
        top: 63%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: x-large;
}
.Tickets-2{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 52%;
        top: 63%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: x-large;
}
.img-insta{
        position: absolute;
        height: 5%;
        width: 2%;
        left: 83%;  
        bottom: 91%;
}
.img-facebook{
        position: absolute;
        height: 5%;
        width: 2%;
        left: 88%; 
        bottom: 91%;
}
.img-spotify{
        position: absolute;
        height: 5%;
        width: 2%;
        left: 93%; 
        bottom: 91%;
}

/* Phone*/
@media only screen and (max-width: 400px){
    /* Homepage Phone */
    .img-title{
        position: absolute;
        height: 33%;
        width: 60%;
        left: 20%;
        top: 25%;
    }
    .img-miniLogo{
        position: absolute;
        height: 5%;
        width: 10%;
        left: 3%; 
        top: 1%; 
    }
    .video-homepage{
        position: absolute;
        bottom: 0%;
        right: 0%;
    }

    .Home{
        visibility: hidden;
        
}
    .Roofs{
        visibility: hidden;
       
}
    .Line-up{
        visibility: hidden;
       
}
    .Location{
           
        visibility: hidden;
}
    .Tickets{
           
        visibility: hidden;
}
    .Webshop{
        visibility: hidden;  
        
}
.img-insta{
    position: absolute;
    height: 5%;
    width: 10%;
    left: 23%;  
    bottom: 7%;
}
.img-facebook{
    position: absolute;
    height: 5%;
    width: 10%;
    left: 45%; 
    bottom: 7%;
}
.img-spotify{
    position: absolute;
    height: 5%;
    width: 10%;
    left: 67%; 
    bottom: 7%;
}
.Roofs-2{
    visibility: hidden; 
    
}
.Tickets-2{
    visibility: hidden; 
}
.img-menu{
        height: 10%;
        width: 10%;
        left: 20%; 
        top: 20%; 
}

.dropdown {
        display: inline-block;
        position: absolute;
        height: 50%;
        width: 100%;
        left: 86%;
        top: 1%;    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    right: 86%;
    top: 15%;
    background-color: #222222;
    
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #eeeeee;
    padding: 5%;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-align: center;
   
  }
  .dropdown-content a:hover {
    color: white;
    background-color: black;
  }
  /* RoofsPage Phone */
  .HomeRoof{
    visibility: hidden; 
}
.RoofsRoof{
    visibility: hidden; 
    
}
.Line-upRoof{
    visibility: hidden; 
}
.LocationRoof{
    visibility: hidden; 
    
}
.TicketsRoof{
    visibility: hidden; 
   
}
.WebshopRoof{
    visibility: hidden; 
   
}
.dropdownRoof {
    display: inline-block;
    position: absolute;
    height: 50%;
    width: 100%;
    left: 86%;
    top: 1%;    
}
.dropdown-contentRoof {
        display: none;
        position: absolute;
        width: 100%;
        right: 86%;
        top: 15%;
        background-color: #222222;

}
.dropdown:hover .dropdown-contentRoof {
            display: block;

}
.dropdown-contentRoof a {
        display: block;
        color: #eeeeee;
        padding: 5%;
        text-decoration: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: xx-large;
        text-align: center;

}
.dropdown-contentRoof a:hover {
        color: white;
        background-color: black;
}

}
/* RoofsPage */
.HomeRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 23%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.RoofsRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 33%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.Line-upRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 43%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
    }
.LocationRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 53%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.TicketsRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 63%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.WebshopRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 73%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.dropdown-contentRoof a {
    visibility: hidden; 
 
}


