head,body{
    margin: 0px;
    padding: 0px;
    background-color: #303030;
    
}

/* HomePage */
.video-homepage{
     position: absolute;
     bottom: 0%;
     right: 0%;
}
.img-miniLogo{
    position: absolute;
    height: 10%;
    width: 5%;
    left: 12%;  
}
.img-title{
    position: absolute;
    height: 55%;
    width: 55%;
    left: 23%;
    top: 20%;
}
.img-titlePhone{
    display: none;
}

.Home{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 23%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Home:hover{
     transition: all 0.6s ease-in-out; 
     transform: scale(2); 
}
.Roofs{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 33%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Roofs:hover{
     transition: all 0.6s ease-in-out; 
     transform: scale(2); 
}
.Line-up{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 43%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Line-up:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.Location{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 53%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Location:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.Tickets{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 63%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Tickets:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.Webshop{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 73%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Webshop:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.Roofs-2{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 43%;
        top: 63%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: x-large;
}
.Roofs-2:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.Tickets-2{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 52%;
        top: 63%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: x-large;
}
.Tickets-2:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}

.img-insta{
        position: absolute;
        height: 5%;
        width: 2%;
        left: 83%;  
        bottom: 91%;
        
        
}
.img-facebook{
        position: absolute;
        height: 5%;
        width: 2%;
        left: 88%; 
        bottom: 91%;
}
.img-spotify{
        position: absolute;
        height: 5%;
        width: 2%;
        left: 93%; 
        bottom: 91%;
}
.img-menu{
    display: none;
}
.dropdown-content{
    display: none; 
}
/* Phone*/
@media only screen and (max-width: 400px){

    /* Homepage Phone */
    .img-title{
        display: none;
    }
    .img-miniLogo{
        position: absolute;
        height: 5%;
        width: 10%;
        left: 3%; 
        top: 1%; 
    }
    .img-titlePhone{
        display: inline-block;
        position: absolute;
        height: 13%;
        width: 30%;
        left: 35%;
        top: 35%;
    }
    .video-homepage{
        position: absolute;
        bottom: 0%;
        right: 0%;
    }

    .Home{
        visibility: hidden;
        
}
    .Roofs{
        visibility: hidden;
       
}
    .Line-up{
        visibility: hidden;
       
}
    .Location{
           
        visibility: hidden;
}
    .Tickets{
           
        visibility: hidden;
}
    .Webshop{
        visibility: hidden;  
        
}
.img-insta{
    position: absolute;
    height: 5%;
    width: 10%;
    left: 23%;  
    bottom: 7%;
    
}
.img-facebook{
    position: absolute;
    height: 5%;
    width: 10%;
    left: 45%; 
    bottom: 7%;
}
.img-spotify{
    position: absolute;
    height: 5%;
    width: 10%;
    left: 67%; 
    bottom: 7%;
}
.Roofs-2{
    visibility: hidden; 
    
}
.Tickets-2{
    visibility: hidden; 
}
.img-menu{
    display: inline-block;
        height: 10%;
        width: 10%;
        left: 20%; 
        top: 20%; 
}

.dropdown {
        display: inline-block;
        position: absolute;
        height: 50%;
        width: 100%;
        left: 86%;
        top: 1%;    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    right: 86%;
    top: 15%;
    background-color: #222222;
    
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #eeeeee;
    padding: 5%;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-align: center;
   
  }
  .dropdown-content a:hover {
    color: white;
    background-color: black;
  }
  /* RoofsPage Phone */
  .HomeRoof{
    visibility: hidden; 
}
.RoofsRoof{
    visibility: hidden; 
    
}
.Line-upRoof{
    visibility: hidden; 
}
.LocationRoof{
    visibility: hidden; 
    
}
.TicketsRoof{
    visibility: hidden; 
   
}
.WebshopRoof{
    visibility: hidden; 
   
}
/* LineUpPage phone */
.HomeLineUp{
    visibility: hidden; 
}
.RoofsLineUp{
    visibility: hidden; 
}
.Line-upLineUp{
    visibility: hidden; 
}
.LocationLineUp{
    visibility: hidden; 
}
.TicketsLineUp{
    visibility: hidden; 
}
.WebshopLineUp{
    visibility: hidden; 
}
}
/* RoofsPage */
.container{
    height: 100px;
    background-color: white;
    
}
.HomeRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 23%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.HomeRoof:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.RoofsRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 33%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.RoofsRoof:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.Line-upRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 43%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
    }
.Line-upRoof:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.LocationRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 53%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.LocationRoof:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.TicketsRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 63%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.TicketsRoof:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.WebshopRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 73%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.WebshopRoof:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
/* LineUp Page */
.HomeLineUp{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 23%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.HomeLineUp:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.RoofsLineUp{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 33%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.RoofsLineUp:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.Line-upLineUp{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 43%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.Line-upLineUp:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}

.LocationLineUp{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 53%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.LocationLineUp:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.TicketsLineUp{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 63%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.TicketsLineUp:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.WebshopLineUp{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 73%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.WebshopLineUp:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
/* ticket Page */
.titleTicket{
    position: absolute;
    color: white;
    font-family: impact;
    font-size: xx-large;
    left: 690px;
}
.ticketName{
    position: absolute;
    color: white;
    font-family: impact;
    font-size: large;
    left: 710px; 
    top: 200px;
}
.color{
    position: absolute;
    color: white;

}
/*column1*/
.line1{
    font-size: x-large;
    left: 560px;
    top: 240px;
}
.line2{
    font-size: small;
    left: 560px;
    top: 290px;
}
.line3{
    font-size: small;
    left: 561px;
    top: 310px;
}
.date1{
    font-size: x-large;
    left: 490px;
    top: 240px;
}
.ticket1{
    left: 490px;
    top: 340px;
}
.ticket2{
    left: 490px;
    top: 360px;
}
.ticket3{
    left: 490px;
    top: 380px;
}
.ticket4{
    left: 490px;
    top: 400px;
}
.ticket5{
    left: 490px;
    top: 420px;
}
.ticket6{
    left: 490px;
    top: 440px;
}
.ticket7{
    left: 490px;
    top: 460px;
}
.ticket8{
    left: 490px;
    top: 480px;
}

/*column2*/
.line4{
    font-size: x-large;
    left: 560px;
    top: 500px;
}
.line5{
    font-size: small;
    left: 560px;
    top: 550px;
}
.line6{
    font-size: small;
    left: 561px;
    top: 570px;
}
.date2{
    font-size: x-large;
    left: 490px;
    top: 500px;
}
.ticket9{
    left: 490px;
    top: 600px;
}
.ticket10{
    left: 490px;
    top: 620px;
}
.ticket11{
    left: 490px;
    top: 640px;
}
.ticket12{
    left: 490px;
    top: 660px;
}
.ticket13{
    left: 490px;
    top: 680px;
}
.ticket14{
    left: 490px;
    top: 700px;
}
.ticket15{
    left: 490px;
    top: 720px;
}
.ticket16{
    left: 490px;
    top: 740px;
}
/*column3*/
.line7{
    font-size: x-large;
    left: 560px;
    top: 760px;
}
.line8{
    font-size: small;
    left: 560px;
    top: 810px;
}
.line9{
    font-size: small;
    left: 560px;
    top: 830px;
}
.date3{
    font-size: x-large;
    left: 490px;
    top: 760px;
}
.ticket17{
    left: 490px;
    top: 860px;
}
.ticket18{
    left: 490px;
    top: 880px;
}
.ticket19{
    left: 490px;
    top: 900px;
}
.ticket20{
    left: 490px;
    top: 920px;
}
.ticket21{
    left: 490px;
    top: 940px;
}
.ticket22{
    left: 490px;
    top: 960px;
}
.ticket23{
    left: 490px;
    top: 980px;
}
.ticket24{
    left: 490px;
    top: 1000px;
}
/*checkout*/
.ticketBorder{
    margin: 110px;
    padding: 45px;
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



/* Map */
#map{
    position: relative;
    margin: 0 auto;
    height: 80vh;
    width: 65vw;
    background: #303030 100% url("../img/MapNew.png");
}
#map.open-modal-1 {
    background: center / contain no-repeat url("../img/dak-links-b.png"), #303030 100% url("../img/MapNew.png");
}
#map.open-modal-2 {
    background: center / contain no-repeat url("../img/dak-boven-B.png"), #303030 100% url("../img/MapNew.png");
}
#map.open-modal-3 {
    background: center / contain no-repeat url("../img/dak-rechts-b.png"), #303030 100% url("../img/MapNew.png");
}
#map.open-modal-4 {
    background: center / contain no-repeat url("../img/dak-onder-b.png"), #303030 100% url("../img/MapNew.png");
}

.jw-modal{
    display: none;
    position: fixed;
    inset: 0;
    z-index: 10000;
    overflow: auto; 
    width: 100%;
    height: 100%;
}
.jw-modal.open {
    display: block;
    
}
.jw-modal-body {
    position: absolute;

    width: 50%;
    height: 70%;
    bottom: 20%;
    left: 25%;
  
}

.openButton {
    position: absolute;
    background: transparent;
    border: 0;
    z-index: 1000;
    cursor: pointer;    
   
}

.Openbutton1{
    height:205px;
    width:106px;
    left: 295px;
    top: 220px;
}
.Openbutton2{
    height: 75px;
    width: 140px;
    left: 400px;
    top: 90px;
}
.Openbutton3{
    height: 160px;
    width: 255px;
    left: 415px;
    top: 200px;
}
.Openbutton4{
    height: 160px;
    width: 100px;
    left: 345px;
    top: 440px;
}

.textFix{
    position: absolute;
    color: white;
    font-size: xx-large; 
}
.Location1{
    top: 187px;
    left: 320px;
}
.line-up1{
    top: 180px;
}
.text1{
    top: 225px;
    left: 320px;
    font-size: x-large;
}

.Location2{
    top: 70px;
    left: 445px;
}
.line-up2{
    top: 70px;
    left: 100px;
}
.text2{
    top: 105px;
    left: 445px;
    font-size: x-large;
}
.Location3{
    top: 200px;
    left: 580px;
}
.line-up3{
    top: 200px;
    left: 100px;
}
.text3{
    top: 240px;
    left: 580px;
    font-size: x-large;
}

.Location4{
    top: 400px;
    left: 350px;
}
.line-up4{
    top: 395px;
    left: 100px;
}
.text4{
    top: 460px;
    left: 350px;
    font-size: x-large;
}





 
