head,body{
    margin: 0px;
    padding: 0px;
}
/* HomePage */
.video-homepage{
     position: absolute;
     bottom: 0%;
     right: 0%;
}
.img-miniLogo{
    position: absolute;
    height: 10%;
    width: 5%;
    left: 12%;  
}
.img-title{
    position: absolute;
    height: 55%;
    width: 55%;
    left: 23%;
    top: 20%;
}
.img-titlePhone{
    display: none;
}

.Home{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 23%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family:  helvetica;
        font-size: larger;
}
.Home:hover{
     transition: all 0.6s ease-in-out; 
     transform: scale(2); 
}
.Roofs{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 33%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Roofs:hover{
     transition: all 0.6s ease-in-out; 
     transform: scale(2); 
}
.Line-up{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 43%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Line-up:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.Location{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 53%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Location:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.Tickets{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 63%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Tickets:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.Webshop{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 73%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: larger;
}
.Webshop:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.Roofs-2{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 43%;
        top: 63%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: x-large;
}
.Roofs-2:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.Tickets-2{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 52%;
        top: 63%;
        background-color: transparent;
        border: none;
        color: white;
        font-family: impact;
        font-size: x-large;
}
.Tickets-2:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}

.img-insta{
        position: absolute;
        height: 5%;
        width: 2%;
        left: 83%;  
        bottom: 91%;
}
.img-facebook{
        position: absolute;
        height: 5%;
        width: 2%;
        left: 88%; 
        bottom: 91%;
}
.img-spotify{
        position: absolute;
        height: 5%;
        width: 2%;
        left: 93%; 
        bottom: 91%;
}
.img-menu{
    display: none;
}
.dropdown-content{
    display: none; 
}
/* Phone*/
@media only screen and (max-width: 400px){

    /* Homepage Phone */
    .img-title{
        display: none;
    }
    .img-miniLogo{
        position: absolute;
        height: 5%;
        width: 10%;
        left: 3%; 
        top: 1%; 
    }
    .img-titlePhone{
        display: inline-block;
        position: absolute;
        height: 13%;
        width: 30%;
        left: 35%;
        top: 35%;
    }
    .video-homepage{
        position: absolute;
        bottom: 0%;
        right: 0%;
    }

    .Home{
        visibility: hidden;
        
}
    .Roofs{
        visibility: hidden;
       
}
    .Line-up{
        visibility: hidden;
       
}
    .Location{
           
        visibility: hidden;
}
    .Tickets{
           
        visibility: hidden;
}
    .Webshop{
        visibility: hidden;  
        
}
.img-insta{
    position: absolute;
    height: 5%;
    width: 10%;
    left: 23%;  
    bottom: 7%;
}
.img-facebook{
    position: absolute;
    height: 5%;
    width: 10%;
    left: 45%; 
    bottom: 7%;
}
.img-spotify{
    position: absolute;
    height: 5%;
    width: 10%;
    left: 67%; 
    bottom: 7%;
}
.Roofs-2{
    visibility: hidden; 
    
}
.Tickets-2{
    visibility: hidden; 
}
.img-menu{
    display: inline-block;
        height: 10%;
        width: 10%;
        left: 20%; 
        top: 20%; 
}

.dropdown {
        display: inline-block;
        position: absolute;
        height: 50%;
        width: 100%;
        left: 86%;
        top: 1%;    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    right: 86%;
    top: 15%;
    background-color: #222222;
    
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #eeeeee;
    padding: 5%;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-align: center;
   
  }
  .dropdown-content a:hover {
    color: white;
    background-color: black;
  }
  /* RoofsPage Phone */
  .HomeRoof{
    visibility: hidden; 
}
.RoofsRoof{
    visibility: hidden; 
    
}
.Line-upRoof{
    visibility: hidden; 
}
.LocationRoof{
    visibility: hidden; 
    
}
.TicketsRoof{
    visibility: hidden; 
   
}
.WebshopRoof{
    visibility: hidden; 
   
}
/* LineUpPage phone */
.HomeLineUp{
    visibility: hidden; 
}
.RoofsLineUp{
    visibility: hidden; 
}
.Line-upLineUp{
    visibility: hidden; 
}
.LocationLineUp{
    visibility: hidden; 
}
.TicketsLineUp{
    visibility: hidden; 
}
.WebshopLineUp{
    visibility: hidden; 
}
}
/* RoofsPage */
.HomeRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 23%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.HomeRoof:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.RoofsRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 33%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.RoofsRoof:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.Line-upRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 43%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
    }
.Line-upRoof:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.LocationRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 53%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.LocationRoof:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.TicketsRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 63%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.TicketsRoof:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.WebshopRoof{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 73%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.WebshopRoof:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
/* LineUp Page */
.HomeLineUp{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 23%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.HomeLineUp:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.RoofsLineUp{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 33%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.RoofsLineUp:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.Line-upLineUp{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 43%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.Line-upLineUp:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}

.LocationLineUp{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 53%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.LocationLineUp:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.TicketsLineUp{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 63%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.TicketsLineUp:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}
.WebshopLineUp{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 73%;
        top: 4%;
        background-color: transparent;
        border: none;
        color: black;
        font-family: impact;
        font-size: larger;
}
.WebshopLineUp:hover{
    transition: all 0.6s ease-in-out; 
    transform: scale(2); 
}

 
